* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* navigation */
#navbar {
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
}


nav ul li a {
  padding: 0px 8px;
  font-size: 0.9em;
  margin: 5px;
}

#login,
#signup {
  margin: 20px;
  margin-top: 14px;
  margin-bottom: 5px;
}

/* clients-section */
#clients {
  height: 5.3rem;
  margin-bottom: 2.5rem;
}

#clients h1{
  margin-top: -5rem;
}

#clients::before{
  height: 14rem;
  content: "";
  position: absolute;
  top: 90rem;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
}

#apple_logo{
  width: 6em;
  height: 3em;
}

#md_logo{
  width: 2.3em;
  height: 2.3em;
  margin-top: 0.5em;
}

#honda_logo{
  width: 6em;
  height: 2.5em;
  margin-top: 0.38em;
}

#microsoft_logo{
  width: 7.5em;
  height: 5em;
  align-self: center;
  margin-top: -0.85em;
  padding-right: 1em;
}


/* footer-section */
footer,
footer a {
  font-size: 0.7em;
}

/* utility-classes */
.primary-heading {
  font-size: 1.3em;
}

.secondary-heading {
  font-size: 0.85em;
}








