*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 65vh;
}

/* Utility Classes */
.primary-heading {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  font-family: serif;
  margin: 2em 0em;
  font-size: 2.5em;
  color: white;
}

.primary-heading::before{
  background-color: black;
  content: "";
  position: absolute;
  width: 12em;
  height: 1.5em;
  z-index: -1;
  opacity: 0.3;
  align-self: center;
  border-radius: 6px;
}

.secondary-heading {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family:  serif;
   margin-top: 0.5em 0em;
   font-size: 2em;
   padding-right: 2rem;
}

.secondary-heading::before {
  background-color: skyblue;
  content: "";
  position: absolute;
  width: 8em;
  height: 1.5em;
  z-index: -1;
  opacity: 0.3;
  align-self: center;
  border-radius: 4px;
}

.btn {
  padding: 0.4em 0.8em;
  margin: 1em;
  border-radius: 1em;
  color: brown;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
  background-color: burlywood;
}

.btn:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

/* navigation bar */

#home_logo{
  height: 3.5em;
}

#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  background-color: black;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

nav ul{
  display: flex;
}

nav ul li a, #login, #signup{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35em;
  padding: 0.3em 1.5em;
  margin-left: 0.7em; 
} 

nav ul li a:hover, nav ul li a.active{
  color: black;
  background-color: white;
  border-radius: 0.5em;
}

.home_logo{
  margin: 0.5em; 
}

.home_logo:hover{
  cursor: pointer;
}

#signup, #login{
  font-size: 1em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  padding: 0.1em 0.7em;
  margin: 0em 1em; 
  background-color: black;
  }
  
 #login:hover, #signup:hover{
  color: black;
  background-color: white;
} 

/* overall page */



#page_area{
    height: 64.25vh;
    display: flex;
    flex-direction: column;
}

#page_area::before{
 content: "";
 background: url('/../images/home_bg.jpg');
 /* background: url('https://source.unsplash.com/featured/1420x2486/?{fastfood}') no-repeat center center/cover; */
 position: absolute;
 height: 59.25%; 
 width: 100%;
 top: 0px;
 left: 0px;
 z-index: -1;
 opacity: 0.3;
}

/* form-box */

.form-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-left: 4rem;
  background-color: white;
  height: 37rem;
  width: 25rem;
  align-self: center;
  border: 2px solid black; 
  border-radius: 13px;
  box-shadow:  3px 5px darkblue;
  margin-bottom: -2em;
}

.form-control{
  margin: 1.2em 0em;
  font-family: 'Bree Serif', serif;
  width: 20em;
  height: 1.8em;
  border-radius: 0.5em;
}

#terms{
  padding-right: 1em;
  text-decoration: none;
}

#login_here{
  text-decoration: none;
}

#check{
  padding-left: 1em;
}

/* submit button */
#submit{
background-color: burlywood;
}

/* clients-section */
#clients {
  margin-top: 6.5rem;
  height: 12rem;
  margin-bottom: -1rem;
}

#clients h1 {
  margin-top: 1.5em; 
  margin-bottom: 0.5em;
}

#clients h1::before{
  width: 6em;
}


#client-images-container {
  margin-top: 1em; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#clients::before {
  height: 15rem;
  content: "";
  background: url('/../images/sponsers_bg.png');
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
}

#apple_logo {
  width: 9em;
  height: 5em;
}

#md_logo {
  width: 3.3em;
  height: 3.3em;
  margin-top: 1em;
}

#honda_logo {
  width: 9em;
  height: 3.5em;
  margin-top: 1em;
}

#microsoft_logo {
  width: 10em;
  height: 7em;
  margin-top: -1em;
}

/* footer-section */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  height: 5em;
  margin-top: -2em;
}

footer a{
  color: white;
  font-weight: bold;
}






