*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

/* Utility Classes */
.primary-heading {
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin-top: 2.5em;
  font-size: 2em;
}

.secondary-heading {
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.btn {
  padding: 0.4em 0.8em;
  margin: 1em;
  border-radius: 1em;
  color: brown;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
  background-color: burlywood;
}

.btn:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

/* navigation bar */

#home_logo{
  height: 3.5em;
}

#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  background-color: black;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

nav ul{
  display: flex;
}

nav ul li a, #login, #signup{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35em;
  padding: 0.3em 1.5em;
  margin-left: 0.7em; 
} 

nav ul li a:hover{
  color: black;
  background-color: white;
  border-radius: 0.5em;
}

.home_logo{
  margin: 0.5em; 
}

.home_logo:hover{
  cursor: pointer;
}

#signup, #login{
  font-size: 1em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  padding: 0.1em 0.7em;
  margin: 0em 1em; 
  background-color: black;
  }
  
 #login:hover, #signup:hover{
  color: black;
  background-color: white;
} 

/* home section */

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5em;
  padding-left: 5em;
  padding-right: 5em;
  height: 10em;
} 

#home::before{
  content: "";
  background: url('images/home_bg.jpg') no-repeat center center/cover;
  position: absolute;
  height: 20em;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.6;
}

#home h1{
  color: white;
  text-align: center;
  font-family: serif;
  margin-top: 2.5em;
  font-size: 2em;
}

#home h1::before{
  background-color: black;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10em;
  z-index: -1;
  opacity: 0.3;
}

#home p{
  color: white;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

/* services-section */

#services{
  display: flex;
  height: 40rem;
  justify-content: space-around;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 2em;
  margin: 1em;
  padding-top: 5em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 4em;
  height: 23em;
  width: 8em;
  background-color: blanchedalmond;
}

#food-ordering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#bulk-ordering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#food-catering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.box p{
  text-align: justify;
}

/* clients-section */
#clients{
  margin-top: 5em;
  height: 10rem;
}

#clients h1{
  margin-top: -2em; 
  margin-bottom: 0.5em; 
}

#client-images-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#clients::before{
  height: 14rem;
  content: "";
  background: url('images/sponsers_bg.png');
  position: absolute;
  top: 57rem;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
  margin-top: 5em;
}

#apple_logo{
  width: 9em;
  height: 5em;
}

#md_logo{
  width: 3.3em;
  height: 3.3em;
  margin-top: 1em;
}

#honda_logo{
  width: 9em;
  height: 3.5em;
  margin-top: 1em;
}

#microsoft_logo{
  width: 10em;
  height: 7em;
  margin-top: -1em;
}

/* Contact-section */
#contact-section{
  height: 30rem;
  background-color: midnightblue;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form-area{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  width: 22em;
  height: 20em;
  border-radius: 0.5em;
  padding: 1em 2em;
}

#contact-section h1{
  color: white;
  margin-top: 1em; 
  margin-bottom: 1em; 
}

.form-group{
  width: 20em;
  height: 1.8em;
  margin: 1em;
  border-radius: 0.5em;
}

#message{
  height: 6em;
}

#submit{
  border-radius: 1em;
  color: brown;
  font-family: 'Bree Serif', serif;
  background-color: burlywood;
}

#submit:hover{
  cursor: pointer;
}

/* footer-section */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  height: 5em;
}

footer a{
  color: white;
  font-weight: bold;
}

