*{
  margin: 0px;
  padding: 0px;
}

/* navigation bar */

#home_logo{
  height: 3.5em;
}

#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  background-color: black;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

nav ul{
  display: flex;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35em;
  padding: 0.3em 1.5em;
  margin-left: 1.54em; 
} 

nav ul li a:hover{
  color: black;
  background-color: white;
  /* border: 2px solid red; */
  border-radius: 0.5em;
}

.home_logo{
  margin: 0.5em 0.5em; 
}

.home_logo:hover{
  cursor: pointer;
}

/* home section */

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em 5em;
  height: 10em;
} 

#home::before{
  content: "";
  background: url('images/home_bg.jpg') no-repeat center center/cover;
  position: absolute;
  height: 20em;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.6;
}

#home h1{
  color: white;
  text-align: center;
  font-family: serif;
  margin-top: 2.5em;
  font-size: 2em;
}

#home h1::before{
  background-color: black;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10em;
  z-index: -1;
  opacity: 0.3;
}

#home p{
  color: white;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

/* services-section */

#services{
  display: flex;
  justify-content: space-around;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 2em;
  margin: 1em;
  padding-top: 3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 3em;
  height: 23em;
  width: 8em;
  background-color: blanchedalmond;
}

.box:hover{
  padding: 4em;
  height: 22em;
  width: 9em;
  cursor: pointer;
}

#food-ordering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#bulk-ordering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#food-catering{
  border-radius: 0.2em;
  width: 12em;
  height: 9em;
  top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.box p{
  text-align: justify;
}

/* footer-section */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
}

footer a{
  color: white;
  font-weight: bold;
  
}

/* Utility Classes */
.primary-heading{
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin-top: 2.5em;
  font-size: 2em;
}

.secondary-heading{
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.btn{
  padding: 0.4em 0.8em;
  margin: 1em;
  border-radius: 1em;
  color: brown;
  font-size: 1em;
  font-family: 'Bree Serif', serif;
  background-color: burlywood;
}

.btn:hover{
  cursor: pointer;
}

.center{
  text-align: center;
}